# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives : </b>

Some of the uses of Data Science are:

<ul>
<li>Predictive Analysis</li>
<li>Machine Learning</li>
<li>Data Visualisation</li>
</ul>

Some of the popular languages that Data Scientists use are:
    
<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:

<ol>
<li>NumPy</li>
<li>Keras</li>
<li>Pandas</li>
</ol>

Data Science Tools
|Names | 
| --- |
| RStudio|
| Apache Spark | 
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [37]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [39]:
200/60

3.3333333333333335

## Author
Ali Siddiqi